<h1>Daily Report</h1>

<h3>Dear Parent,</h3>

<p><strong> Here's how <%= @student.full_name %> did today:</strong> </p>
  <%= image_tag attachments[@report.color + '.png'].url %>

  <p><strong>Comments: <%= @report.comment %><strong></p>


<p><strong>Today's daily class summary:</strong></p>
<p> <%= @report.daily_summary.text %> </p>


<p><strong> Tonight's Homework:</strong></p>
<p> <%= @report.daily_summary.homework%></p>


<p>Best,</p>
<p><%= @teacher.full_name %></p>

<% if Rails.env.development? %>
  <% if @student.parent %>
    <%= link_to "Login to GYR for more reports", new_parent_session_url(:host => "localhost:3000" )  %>
  <% else %>
    <%= link_to "Sign up for GYR to view student reports", new_parent_registration_url(:student => @student.id => host: "localhost:3000")  %>
  <% end %>
<% else %>
  <% if @student.parent %>
    <%= link_to "Login to GYR for more reports", new_parent_session_url(:host => "gyr-pdx.herokuapp.com")  %>
  <% else %>
    <%= link_to "Sign up for GYR to view student reports", new_parent_registration_url(:student => @student.id => host: "gyr-pdx.herokuapp.com")  %>
  <% end %>
<% end %>
